#navBar{
    -fx-background-color:#1f2a44;
}
.navBarButton {
    -fx-background-color: #2a354e;
    -fx-background-radius: 0;
    -fx-text-fill: #8ea3d4;
}
.refreshButton{
    -fx-background-color: transparent;
}
.navBarButton:hover {
    -fx-background-color: #02f3e9;
    -fx-background-radius: 0;
    -fx-text-fill: #1f2a44;
}
.navBarButton:active{
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 0;
    -fx-text-fill: #1f2a44;
}
.logoutRestartButtonOptions{
    -fx-background-color: #273454;
    -fx-text-fill: #FFFFFF;
    -fx-background-radius: 0;
}
.logoutRestartButtonOptions:hover{
    -fx-background-color: #5673ba;
    -fx-text-fill: #FFFFFF;
    -fx-background-radius: 0;
}
.exitButtonOptions{
    -fx-background-color: #e35b5b;
    -fx-text-fill: #801919;
    -fx-background-radius: 0;
}
.exitButtonOptions:hover{
    -fx-background-color: #801919;
    -fx-text-fill: #e35b5b;
    -fx-background-radius: 0;
}
#addDriverSubmitButton {
    -fx-background-color: #000000;
    -fx-text-fill: #ffffff;
}

.table-view .column-header,
.table-view .column-header-background .filler{
    -fx-background-color: transparent;
}
.table-view .table-cell{
    -fx-border-color: transparent;
    -fx-padding: 2 0 2 10px;
}
.table-view .column-header-background .filler {
    -fx-background-color: transparent;
}
.table-row-cell: hover {
    -fx-background-color: #EBEBEB;
    -fx-text-background-color: black;
}
.table-row-cell{
    -fx-background-color: #F0F3F452;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}
.table-view {
    -fx-background-color: transparent;
}