#navBar{
    -fx-background-color:#1f2a44;
}
.navBarButton {
    -fx-background-color: #2a354e;
    -fx-background-radius: 0;
    -fx-text-fill: #E4E4E4;
}
.navBarButton:hover {
    -fx-background-color: #02f3e9;
    -fx-background-radius: 0;
    -fx-text-fill: #1f2a44;
}
.navBarButton:active{
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 0;
    -fx-text-fill: #1f2a44;
}